@model AppChamados.Models.Chamados


@{
    ViewData["Title"] = "Novo Chamados";
}

<br>

<h2>@ViewData["Title"]</h2>

<br>

<div class="form-horizontal">
    <form action="./Create" method="Post">
    
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div class="form-group">
                <label for="numeroAtendimento">Número do atendimento</label>
                <input type="text" class="form-control" id="numeroAtendimento" name="numero" placeholder="Número atendimento" required>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <label for="solicitante">Solicitante</label>
            <select class="form-control" name="solicitanteId" id="solicitante" required>
                    <option value="" disabled selected>Selecione o solicitante</option>
                @foreach(var solicitante in ViewBag.solicitantes ){
                    <option value="@solicitante.id">@solicitante.id | @solicitante.nome</option>
                }
            </select>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="problema">Problema constatado</label>
                <input type="text" class="form-control" id="problema" name="problema" placeholder="Problema" required>
            </div>    
        </div>
        <div class="col-sm-6 col-md-2">
            <label for="situacao">Situação</label>
            <select class="form-control" name="situacaoId" id="situacao" required>
                    <option value="" disabled selected>Selecione a Situação</option>
                @foreach(var situacao in ViewBag.situacoes ){
                    <option value="@situacao.id">@situacao.id | @situacao.descricao</option>
                }
            </select>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="dataSolucao">Data da solução</label>
                <input type="datetime-local" class="form-control" id="dataSolucao" name="dataSolucao" placeholder="Data da solução do problema" required>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="horaInicio">Data de início da análise</label>
                <input type="datetime-local" class="form-control" id="horaInicio" name="horaInicio" placeholder="Data de início" required>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="HoraFim">Data final da análise</label>
                <input type="datetime-local" class="form-control" id="HoraFim" name="HoraFim" placeholder="Data final" required>
            </div>
        </div>
    </div>
        
        <button type="submit" class="btn btn-success">Criar</button>

    </form>
</div>