@model AppChamados.Models.Chamados


@{
    ViewData["Title"] = "Editar Chamado";
}

<br><br>

<h2>@ViewData["Title"]</h2>

<br>

<div class="form-horizontal">
    <form action='@ViewData["base_url"]/Chamados/Update' method="Post">

    <div class="form-group">
        <input type="hidden" class="form-control" id="id" name="id" value="@Model.id" required>
    </div>
    
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div class="form-group">
                <label for="numeroAtendimento">Número do atendimento</label>
                <input type="text" class="form-control" id="numeroAtendimento" name="numero" value="@Model.numero" placeholder="Número atendimento" required>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <label for="solicitante">Solicitante</label>
            <select class="form-control" name="solicitanteId" id="solicitante" required>
                    <option value="" disabled>Selecione o solicitante</option>
                @foreach(var solicitante in ViewBag.solicitantes ){
                    <option value="@solicitante.id">@solicitante.id | @solicitante.nome</option>
                }
            </select>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="problema">Problema constatado</label>
                <input type="text" class="form-control" id="problema" name="problema" value="@Model.problema" placeholder="Problema" required>
            </div>   
        </div>
        <div class="col-sm-6 col-md-2">
            <label for="situacao">Situação</label>
            <select class="form-control" name="situacaoId" id="situacao" required>
                    <option value="" disabled>Selecione a Situação</option>
                @foreach(var situacao in ViewBag.situacoes ){
                    <option value="@situacao.id">@situacao.id | @situacao.descricao</option>
                }
            </select>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="dataSolucao">Data da solução</label>
                <input type="datetime-local" class="form-control" id="dataSolucao" name="dataSolucao" value="@Model.dataSolucaoDisplay" placeholder="Data da solução do problema" required>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="horaInicio">Data de início da análise</label>
                <input type="datetime-local" class="form-control" id="horaInicio" name="horaInicio" value="@Model.horaInicioDisplay" placeholder="Data de início" required>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="HoraFim">Data final da análise</label>
                <input type="datetime-local" class="form-control" id="HoraFim" name="HoraFim" value="@Model.horaFimDisplay" placeholder="Data final" required>
            </div>

        </div>
    </div>
   
    <button type="submit" class="btn btn-success">Editar</button>

    </form>
</div>